.message {
    display: flex;
    align-items: center;
    padding: 8px;
    color: rgba(238, 233, 233, 0.818);
    border-bottom: 1px solid rgba(211, 202, 202, 0.23);
    /* border-bottom: 0.1px solid var(--bg-primary); */
}

.info {
    margin-left: 20px;
}

.timestamp {
    color: rgb(152, 152, 152);
    margin-left: 20px;
    font-size: x-small;
    opacity: 25%;
}