.root {
    --text-primary: #FFFFFF;
    --bg-primary: #2F00B5;
    --bg-secondary: #4200FF;
    --bg-ternary: #632DFF;
    --chat-area-color:#000000;
}

.vein >h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
}
.vein:hover {
    background-color: var(--bg-ternary);
    color: var(--chat-area-color);
    cursor: pointer;
}

.hash {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
